

<section class="analytics">
  <uib-tabset>
    <uib-tab heading="committers">
	<h2>Page d'analyse</h2>
    <p>
       	{{ input }}
        {{commits.length}}
    </p><br>
    <a href="#home" target="_self">this is tabs</a>

    <div ng-show="commits !=null && commits.length===0" class="alert alert-dismissible alert-info">
		<button type="button" class="close" data-dismiss="alert">&close;</button>
		<strong>!</strong> Sorry there is no committer on this repo.
	</div>
    
	<table ng-show="commits.length>0" class="table table-striped table-hover ">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Email</th>
				<th>Date of commits</th>
			</tr>
		</thead>
		<tr dir-paginate="commit in commits | itemsPerPage: itemPage"
			class="active">
			<td>{{index}}</td>
			<td>{{commit.commit.committer.name}}</td>
			<td>{{commit.commit.committer.email}}</td>
			<td>{{commit.commit.committer.date}}</td>
		</tr>
		</tbody>
	</table>
	<dir-pagination-controls "></dir-pagination-controls>
</uib-tab>

<uib-tab heading="Analytics">
    <div id="charts" hidden>
 	<uib-carousel  no-wrap="true">
      <uib-slide  >
        <pie-chart id="piechart" ng-model="CommitersCount" ></pie-chart>
      </uib-slide>
         <uib-slide  >
       <bar-chart id="barchart" ng-model="CommitersCount"></bar-chart>
      </uib-slide>
    </uib-carousel>
		
	
		<timeline-chart id="timelinechart" ng-model="CommitersCount"></timeline-chart>
		
	</div>
 </uib-tab>  
  </uib-tabset>   
</section>
	
	
	