
<div class="search">

    
      
	<h2>There are {{ results.items.length }} results</h2>


	<table class="table table-striped table-hover ">
		<thead>
			<tr>
				<th>#</th>
				<th>ID</th>
				<th>Name</th>
				<th>Full Name</th>
				<th>Url</th>
			</tr>
		</thead>
		
		<tr dir-paginate="result in results.items | itemsPerPage: itemPage" class="active" ng-class="{'success':$index == selectedRow}" ng-click="setClickedRow($index)">
			<td>{{index}}</td>
			<td>{{ result.id }}</td>
			<td>{{ result.name }}</td>
			<td>{{ result.full_name }}</td>
			<td>{{ result.url }}</td>
		</tr>
		</tbody>
	</table>
		<dir-pagination-controls on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>



<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Selected Ressource</h3>
  </div>
  <div class="row panel-body">
    <p class = "col-sm-8">this is : {{results.items[selectedRow+numselectionbypage].full_name}}</p>
    <a href="#" class="btn btn-default pull-right">Analytics</a>
  </div>
</div>
		

</div>
